{% extends 'base.html' %} {% block body %}
<h1>Pessoas</h1>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
  {% endfor %}
</ul>
{% endif %}
<table class="table">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOME</th>
      <th scope="col">CPF</th>
      <th scope="col">RG</th>
      <th scope="col">TELEFONE</th>
      <th>EDITAR</th>
      <th>DELETAR</th>

    
    
    </tr>
  </thead>
  <tbody>
  {% for pessoa in pessoas %}

    <tr>
      <th scope="row">{{pessoa.id}}</th>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.cpf}}</td>
      <td>{{pessoa.rg}}</td>
      <td>{{pessoa.telefone}}</td>
      <td><a href="{% url 'edit_pessoa' pessoa.id %}"> 
        <button type="button" class="btn btn-primary">       
        </button></a>
      </td>

      <td><a href="{% url 'delete_pessoa' pessoa.id %}"> 
        <button type="button" class="btn btn-danger">       
        </button></a>
      </td>
    


     
    </tr>
    {% endfor %}
    </tbody>



</table>

{% endblock %}


