{% extends 'base.html' %} {% block body %}

{{boleta.data_boleta_inicio}}
{{boleta.data_boleta_final}}

{{dia}}
<form  method="POST">

<div class="modal-body">
  <label for="start">Start month:</label>

  <input type="month" id="data_boleta" name="data_boleta"
         min="2018-01" value="2021-01">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<button type="submit" class="btn btn-primary">Save changes</button>
</div>
{% csrf_token %}

</form>




<div class="row">


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <div class="tab">
        Nome : {{boleta.aluguel.pessoa.nome}} 
        CPF:{{boleta.aluguel.pessoa.cpf}}
        <br/>
        Imovel : {{boleta.aluguel.imovel.endereco}} 
        Apartamento: {{boleta.aluguel.apartamento}}
      </div>
        
        <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>



{% endblock %}