{% extends 'base.html' %} {% block body %}
<h1>Boletas</h1>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
  {% endfor %}
</ul>
{% endif %}



    {% for boleta in boletas %}


<div class="card">
  <div class="card-body">

    <div class="row">
     <div class="col"> <b>Nome:</b> {{boleta.pessoa_b.nome}} </div>
     <div class="col"> <b>CPF:</b> {{boleta.pessoa_b.cpf}} </div>    
    </div>
    <div class="row">
      <div class="col"> <b>Endereço:</b> {{boleta.imovel_b.endereco}} </div>
      <div class="col"> <b>Apartamento:</b> {{boleta.aluguel.apartamento}} </div> 
         
     </div>

     <div class="row">
     <div class="col" >
       <div class="card-table table"> 
       <table style="width:100%">
        <tr>
          <th>Valor Agua:</th>
          <td>R${{boleta.valor_agua}},00</td>
        </tr>
        <tr>
          <th>Valor Aluguel:</th>
          <td>R${{boleta.valor_aluguel}},00</td>
        </tr>     
         <tr>
          <th>Valor Multa:</th>
          <td>R${{boleta.valor_multa}},00</td>
        </tr>     
         <tr>
          <th>Valor IPTU:</th>
          <td>R$,00</td>
        </tr>     
         <tr>
          <th>Valor Luz:</th>
          <td>R$,00</td>
        </tr>
        <tr>

        <th>Valor Total :</th>
        <td>R$,00</td>
      </tr>
      </table>
      <div  class="card-body">
        <div> <b>Desconto de Pontualidade:</b> R$00</div>
        <div> <b>Total com Desocnto:</b> R$,00 </div>
      </div> 
         </div>
     </div>
     <div class="col">
     <br>

       <div  > <b>ID:</b> {{boleta.id}}</div>
       <div > <b>Período: </b>{{boleta.data_boleta_inicio}} à {{boleta.data_boleta_final}} </div>


      <br>
      <br>
      <br>
       <div class="col" >
        <div class="card-table table"> 
        <table style="width:100%">
         <tr>
           <th>Vencimento:</th>
           <td>{{boleta.data_boleta_inicio}},00</td>
         </tr>
         <tr>
           <th>Data Pagamento</th>
           <td>       </td>
         </tr>     
          <tr>
           <th>Valor do Pagamento:</th>
           <td>     </td>
         </tr>  
      </table>

     </div>
    </div>

     </div>


    </div>

    </div>

</div>

{% endfor %}




{% endblock %}


